<div class="col-md-12 margin-top">
    <section>
      <div class="content ">
        <div class="primary-button card-deck mb-3 text-center">
  
          <table class="table table-bordered">
            <thead class="tble-hd" style="background-color: 1px solid #66b0de">
              <tr>
                <th>Hacker Name</th>
                <th>Hacker email</th>
                <!-- <th>Primary skills</th> -->
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of HackerDetails?.invitedHackerList?.data?.users"> 
                <td class="td-ideas">{{user.user.username}}</td>
                <td class="td-ideas">{{user.user.email}}</td>
               <!-- <td class="td-ideas">{{user.user.skillset[0]}}</td> -->
                <td class="td-ideas">{{user.isMember === true ? 'Accepted' : 'Pending'}}</td>
              </tr>
            </tbody>
          </table>  
        </div>
      </div>
    </section>
    </div>