.publish-form {
    width:100%!important;
}

.publish-form .publish-dock {
  background-color: #f9a600;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
  font-weight: bold;
  padding-left: 8px;
}
.publish-form .tble-hd {
  background-color: deepskyblue;
  color: black;
  letter-spacing: 1px;
  font-family: "Muli", sans-serif;
}

.publish-form .td-ideas {
  font-family: "Muli", sans-serif;
}
.publish-form .switch {
  position: relative;
  display: inline-block;
  width: 51px;
  height: 23px;
}

.publish-form .switch input {
  display: none;
}

.publish-form .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.publish-form .slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.publish-form input:checked + .slider {
  background-color: #2196f3;
}

.publish-form input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.publish-form input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/*table css*/
.publish-form .table > thead > tr > th {
  border-right: 1px solid #ddd;
  border-bottom: 0;
}

.publish-form .table > tbody > tr > td {
  border-right: 1px solid #ddd;
}

.publish-form .table > thead > tr > th:last-of-type {
  border-right: 0px;
}

.publish-form .table > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.publish-form .panel-body {
  padding: 0;
}

.publish-form .panel-body > .table {
  margin-bottom: 0px;
}

.publish-form .panel-default{
    border:none;
    width:80%;
    margin:0 auto;
}
.publish-form .panel-default{
    border:none;
    width:100%;
    margin:0 auto;
}
