div{
    float:right;
    display:table-cell;
    border:2px solid transparent;
    height:250px;
    margin-top:-45px;
}
ul li a {
    text-decoration: none;
    color:#ffbb05
}
ul li a:hover{
    color:#fff
}
table tbody tr td a{
    color : #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration-line: none
}
table thead tr th{
    color: #ffbb05;
    font-size: 16px;
}

