<div class="col-md-3 col-sm-8 col-xs-10">
  <table class="table">
    <thead>
      <tr>
        <th>Live Feed</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <a href="#" (click)="onClick()">Selected Hack Ideas</a>
          <app-live-feed-details *ngIf="show"></app-live-feed-details>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">Upcoming Ideas</a>
        </td>
      </tr>
      <tr>
        <td>
          <a href="#">Best Ideas</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>