<div class="col-md-12 margin-top">
  <section>
    <div class="content ">
      <div class="primary-button card-deck mb-3 text-center">
          <div class="panel-heading publish-dock">
              <h3 class="panel-title">
                  Invitation From Hackers
              </h3>
          </div>
        <!-- grid start -->
        <table class="table table-striped" [mfData]="dataObj" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy"
          [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th >
                <mfDefaultSorter by="ideaTitle">Hacker Name</mfDefaultSorter>
              </th>
              <th >
                <mfDefaultSorter by="ideaDes">Email</mfDefaultSorter>
              </th>
             <!-- <th style="width: 10%">
                <mfDefaultSorter by="owner">Skill set</mfDefaultSorter>
              </th> -->
              <th >
                <mfDefaultSorter by="action">ACTION</mfDefaultSorter>
              </th>
            </tr>
            <tr *ngFor="let user of IdeaDeatails?.invitationFromHacker?.data?.users">
              <td> {{user.user.username}} </td>
              <td> {{user.user.email}} </td>
             <!-- <td> {{user.profile.skillSet[0]}} </td> -->
              <td>                 
                <label class="switch">
                  <input type="checkbox" (click)="approval(user, $event)" [checked]="user.isMember === true ? true: false">
                  <span class="slider round"></span>
                </label> </td>
            </tr>

          </thead>
          <tbody>
          </tbody>
        </table>
        <!-- Grid End -->
      </div>
    </div>
  </section>
</div>