<div class="col-md-12 margin-top">
    <section>
      <div class="content ">
        <div class="primary-button card-deck mb-3 text-center">
  
          <table class="table table-bordered">
            <thead class="tble-hd" style="background-color: 1px solid #66b0de">
              <tr>
                <th>Date</th>
                <th>News Header</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-ideas">10/01/2018</td>
                <td class="td-ideas">BNP Paribas announces new measures regarding the financing of tobacco companies</td>
                <td class="td-ideas">BNP Paribas is ceasing its financing and investment activities related to tobacco companies. This decision concerns all the professional players whose principal activity is linked/dedicated to tobacco. The World Health Organisation (WHO), United Nations’ agency specialised in Health, identified tobacco</td>
                <td class="td-ideas">
                  <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                  </label>
                </td>
              </tr>
              <tr>
                <td class="td-ideas">18/01/2018</td>
                <td class="td-ideas">BNP Paribas Group: Results as at 30 September 2017</td>
                <td class="td-ideas">The Board of Directors of BNP Paribas met on 30 October 2017. The meeting was chaired by Jean Lemierre and the Board examined the Group’s results for the third quarter 2017.   Read the press release “BNP Paribas Group</td>
                <td class="td-ideas">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                      </label>
                </td>
              </tr>
              <tr>
                <td class="td-ideas">21/01/2018</td>
                <td class="td-ideas">BNP Paribas takes further measures to accelerate its support of the energy transition</td>
                <td class="td-ideas">BNP Paribas takes further measures to accelerate its support of the energy transition The BNP Paribas Group will no longer do business with companies whose principal business activity is the exploration, production, distribution, marketing or trading of oil and gas.</td>
                <td class="td-ideas">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider"></span>
                      </label>
                </td>
              </tr>
            </tbody>
          </table>
    
        </div>
      </div>
    </section>
    </div>