
<div class="col-md-12">
    <div class="col-md-2 col-sm-12 col-xs-12">
        <button type = "button" (click) = "selectDiv()" class = "btn btn-primary">{{cms.readMorebutton.title}}</button>    
    </div>
    <div class="col-md-10">  
        <app-live-feed></app-live-feed>
        <div class="heading col-md-9 col-sm-5 col-xs-12">
            <h1>{{cms.heading}}</h1>
            <span>{{cms.title}}</span>
        </div>    
    </div>
</div>
<div class="cd-full-width first-slide col-md-12 col-sm-12 col-xs-12">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content first-content">
                    <h4>Let's talk more about Hackathon</h4>
                    <p>A hackathon (also known as a hack day, hackfest or codefest) is a design sprint-like event in which computer programmers and others involved in software development, including graphic designers, interface designers, project managers, and others, often including subject-matter-experts, collaborate intensively on software projects</p>
                    <div class="primary-button">
                        <a href="https://en.wikipedia.org/wiki/Hackathon" target="_blank">{{cms.discoverMorebutton.title}}</a>
                    </div>
                </div>
            </div>
        </div>                  
    </div>
</div>